doctype html
html(lang='en')
  include common/head.pug
  +head("Error")
  body
    header
      .container
        .row
          .col-md-12
            h1= message
            h2.text-danger= error.status
            pre.text-danger #{error.stack}
