extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/", method="POST")
    input(name="lead_email", type="email", placeholder="Enter your email address")
    button(type="submit") Submit  
  if leads
    h1 Leads
    for lead in leads
      p #{lead.email}

