doctype html
html(lang='en')
  include ../common/head.pug
  +head("Create New Plan")
  body
    header
      include ../common/navbar.pug
      +navbar()
      .container
        .row.align-items-center
          .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            h1 Add Plan
            form(action="/plan/new", method="POST")
              .input-group.mb-3
                input(name="plan_name", type="text", placeholder="Enter plan name, e.g. Basic/Small Business/Pro").form-control
              .input-group.mb-3
                input(name="plan_price_per_period", type="number", placeholder="USD price per period").form-control
              .input-group.mb-3
                .form-check
                  input(name="plan_billing_period", type="radio", id="plan_monthly", value="Monthly").mr-1
                  label(for="plan_monthly").form-check-label Monthly
                .form-check
                  input(name="plan_billing_period", type="radio", id="plan_yearly", value="Yearly").mr-1
                  label(for="plan_yearly").form-check-label Yearly
              .input-group.mb-3
                input(name="plan_cta", type="text", placeholder="Call to action, e.g. Get Started Free").form-control
              .input-group.mb-3
                input(name="plan_discount_pct", type="number", placeholder="Discount percentage").form-control
              .input-group.mb-3
                input(name="plan_feature1", type="text", placeholder="Enter feature description").form-control
              .input-group.mb-3
                input(name="plan_feature2", type="text", placeholder="Enter feature description").form-control
              .input-group.mb-3
                input(name="plan_feature3", type="text", placeholder="Enter feature description").form-control
              .input-group.mb-3
                input(name="plan_feature4", type="text", placeholder="Enter feature description").form-control
              .input-group.mb-3
                input(name="plan_feature5", type="text", placeholder="Enter feature description").form-control
              .input-group.mb-3
                input(name="plan_feature6", type="text", placeholder="Enter feature description").form-control
              .input-group.mb-3
                input(name="plan_feature7", type="text", placeholder="Enter feature description").form-control
              .input-group.mb-3
                input(name="plan_feature8", type="text", placeholder="Enter feature description").form-control
              .input-group.mb-3
                input(name="plan_feature9", type="text", placeholder="Enter feature description").form-control
              .input-group.mb-3
                input(name="plan_feature10", type="text", placeholder="Enter feature description").form-control
              .input-group.mb-3
                input(name="plan_rank", type="number", placeholder="Order of appearance on page").form-control              
                .input-group-append
                  button(type="submit").btn.btn-primary Save
    include ../common/footer.pug
    +footer()
