extends ../common/layout-with-sidebar.pug
block head
  include ../common/head.pug
  +head("Plans")
block page_content
    #page-content-wrapper
      .container
        .row
          .col-md-8
            h1 Plans
            table.table
              thead
                tr
                  th(scope="col") Name
                  th(scope="col") Actions
                  th(scope="col")
                tr
              tbody                
                for plan in plans
                  tr(id=plan.id)
                    td
                      span #{plan.name}
                    td
                      a(href="/plan/" + plan.id) Details
                    td 
                      button(onclick=`deletePlan('${plan.id}')`).btn.btn-primary.btn-sm Delete
            a(href="/plan/new").btn.btn-primary.d-flex.justify-content-center.align-content.btn-sm
              i.material-icons add
              span Create New Plan
block footer
  include ../common/footer.pug
  +footer()
  script(src='/javascripts/plans.js')