doctype html
html(lang='en')
  include ../common/head.pug
  +head("Your Plans")
  body
    header
      include ../common/navbar.pug
      +navbar()
      .container
        .row.align-items-center
          .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            h1 Plans
            table.table
              thead
                tr
                  th(scope="col") Name
                  th(scope="col") Actions
                  th(scope="col")
                tr
              tbody                
                for plan in plans
                  tr(id=plan.id)
                    td
                      span #{plan.name}
                    td
                      a(href="/plan/" + plan.id) Details
                    td 
                      button(onclick=`deletePlan('${plan.id}')`).btn.btn-primary Delete
            a(href="/plan/new").btn.btn-primary.d-flex.justify-content-center.align-content
              i.material-icons add
              span Create New Plan
    include ../common/footer.pug
    +footer()
    script(src='/javascripts/plans.js')