extends ../common/layout-with-sidebar.pug
block head
  include ../common/head.pug
  +head("Edit Lead")

block page_content
    #page-content-wrapper
      .container
        .row.align-items-center
          .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            h1 Edit Lead
            form(action="/lead/"+lead.id+"/edit", method="POST")
              .input-group.mb-3
                input(name="lead_email", type="email", placeholder="Enter your email address", value=lead.email).form-control
                .input-group-append
                  button(type="submit").btn.btn-primary Save
block footer
  include ../common/footer.pug
  +footer()
