mixin head(title)
  head
    meta(charset='utf-8')
    title=title
    //[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]
    //<base href="/">
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
    meta(name='description', content='')
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous")
