mixin navbar(user)
  nav.navbar.navbar-expand.navbar-light.bg-light
    a(href="/", aria-label="Golden Goose").navbar-brand.mr-0.mr-md-2
      img(src="/images/zero-to-saas-logo.svg", width="36", height="36")
    .collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href="/") Home
        if currentUser && currentUser.is_admin
          li.nav-item
            a.nav-link(href="/leads") Dashboard
    .navbar-right
      if currentUser
        span.navbar-text Hello #{currentUser.firstname}!
    .navbar-right
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href="/pricing") Pricing
        if !currentUser
          li.nav-item
            a.nav-link(href="/signup") Sign up
          li.nav-item
            a.nav-link(href="/login") Login
        else
          li.nav-item
            a.nav-link(href="/logout") Logout