extends ../common/layout-with-sidebar.pug
block head
  include ../common/head.pug
  +head("Mailchimp Settings")

block page_content
    #page-content-wrapper
      .container
        .row.align-items-center
          .col-md-6.text-center.text-md-left
            h1 Mailchimp Settings
            h4 List Id
            p.lead #{mc.listid}
            h4 API Key
            p.lead #{mc.api_key}
            form(action="/mailchimp", method="POST")
              label.small.mb-1.mt-3 Enter Mailchimp List Id:
              .input-group.mb-3
                input(name="mc_listid", type="text", placeholder="0f954f034a", value=mc.listid).form-control
              label.small.mb-1.mt-3 Enter Mailchimp API Key:
              .input-group.mb-3
                input(name="mc_api_key", type="text", placeholder="2340234023402-us2", value=mc.api_key).form-control
              button(type="submit").btn.btn-primary Save
          .col-md-4
            h4 Description
            p.lead Your landing page email form will start sending email submissions to your Mailchimp email list using this section.
            h5 Mailchimp Steps:
            p.lead 1. Sign up for Mailchimp.
            p.lead 2. Go to Profile > Extras > API Keys. Create an API key if it doesn't exist. Copy & Paste it to the API section here.
            p.lead 3. Go to Audience > Manage Audience on the right > Settings > Audience Name and Defaults > Audience ID on the right. Copy & paste it to the listid section here.
            p.lead 4. Click save.
            p.lead 5. If your leads submit their email on the landing page, they will be added to your Mailchimp list.

block footer
  include ../common/footer.pug
  +footer()
