extends ../common/layout-with-sidebar.pug
block head
  include ../common/head.pug
  +head("Mailchimp Settings")

block page_content
    #page-content-wrapper
      .container
        .row.align-items-center
          .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            h1 Mailchimp Settings
            h4 Description
            p.lead If you set up a Mailchimp account, and add your subscriber list id and Mailchimp API key here, your landing page email form will start sending email submissions to your Mailchimp list.
            h4 List Id
            p.lead #{mc.listid}
            h4 API Key
            p.lead #{mc.api_key}
            form(action="/mailchimp", method="POST")
              label.small.mb-1.mt-3 Enter Mailchimp List Id:
              .input-group.mb-3
                input(name="mc_listid", type="text", placeholder="2342340134-us2", value=mc.listid).form-control
              label.small.mb-1.mt-3 Enter Mailchimp API Key:
              .input-group.mb-3
                input(name="mc_api_key", type="text", placeholder="2340234023402", value=mc.api_key).form-control
              button(type="submit").btn.btn-primary Save
block footer
  include ../common/footer.pug
  +footer()
